<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Shop</a></li>
        <li><a href="/admin/addProduct">Add Product</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/checkout">Checkout</a></li>
        <li><a href="/admin/products">Admin Product</a></li>
        <li><a href="/orders">Orders</a></li>
      </ul>
    </nav>

    <h1>Cart Page</h1>

    <main>
      <% if(products.length > 0) { %>
      <ul>
        <% products.forEach(p => { %>
        <li>
          <p><%= p.title %> (<%=p.quantity %>)</p>
          <form action="/deleteCart" method="POST">
            <input type="hidden" name="productId" value="<%=p._id%>" />
            <button type="submit">Delete</button>
          </form>
        </li>
        <% }) %>
      </ul>
      <div style="text-align: center">
        <form action="/createOrder" method="POST">
          <button type="submit">Checkout</button>
        </form>
      </div>
      <% } else { %>
      <h1>No Product in Cart!</h1>
      <% } %>
    </main>
  </body>
</html>
