<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Shop</a></li>
        <li><a href="/admin/addProduct">Add Product</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/checkout">Checkout</a></li>
        <li><a href="/admin/products">Admin Product</a></li>
        <li><a href="/orders">Orders</a></li>
      </ul>
    </nav>

    <h1>Orders Page</h1>
    <div>
      <% if(orders.length <= 0) { %>
      <h1>No order</h1>
      <% } else { %>
      <div>
        <% orders.forEach(order => { %>
        <p><%=order._id%></p>
        <ul>
          <% order.items.forEach(product => { %>
          <li><p><%=product.title %> (<%=product.quantity%>)</p></li>
          <% }) %>
        </ul>
        <% }) %>
      </div>
      <% } %>
    </div>
  </body>
</html>
